@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Centric Consulting Team 13 </p>

<p> Vincent Stubbs </p>

<img src="https://i.imgur.com/dg9AP7K.png" alt="imgur.com">

<p> Ryan Heltion </p>

<img src="https://i.imgur.com/DRXeDzE.png" alt="imgur.com">

<p> Xiaosheng Wang </p>

<img src="https://i.imgur.com/6aAFZi5.png" alt="imgur.com">

<p> Christopher Hawkins </p>

<img src="https://i.imgur.com/DRXeDzE.png" alt="imgur.com">

<p> Alec Vaccarino </p>

<img src="https://i.imgur.com/h88nvc0.png" alt="imgur.com">




