@{
    ViewBag.Title = "About the Team";
}
<h1> Centric Consulting Team 13 </h1>

<h4> Vincent Stubbs </h4>

<img src="https://i.imgur.com/dg9AP7K.png" alt="imgur.com">

<h4> Ryan Heltion </h4>

<img src="https://i.imgur.com/HSdNpey.png" alt="imgur.com">

<h4> Xiaosheng Wang </h4>

<img src="https://i.imgur.com/6aAFZi5.png" alt="imgur.com">

<h4> Christopher Hawkins </h4>

<img src="https://i.imgur.com/DRXeDzE.png" alt="imgur.com">

<h4> Alec Vaccarino </h4>

<img src="https://i.imgur.com/h88nvc0.png" alt="imgur.com">








